<div class="container-fluid w-100">
  <div class="navbar d-flex align-items-center justify-space-between">
    <div class="d-flex left-nav align-items-center">
      <img
        class="clickable hamburger"
        src="./../assets/icons/hamburger-menu.png"
        alt="Hamburger Menu"
      />
      <span class="nav-option fw-medium clickable">Home</span>
      <span class="nav-option fw-medium clickable">Blog</span>
      <span class="nav-option fw-medium clickable">Shop</span>
      <span class="nav-option fw-medium clickable">Contact Us</span>
    </div>
    <div class="d-flex right-nav">
      <span class="login pill fw-medium clickable">Login</span>
      <span class="register pill fw-medium clickable">Register</span>
    </div>
  </div>
</div>

<!-- <app-homepage></app-homepage> -->
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} BookBliss. All rights reserved.</p>
    <div class="footer-links">
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/terms">Terms</a>
    </div>
  </div>
</footer>
